{{ define "main" }}
<div class="container">

  {{ partial "title-and-content-basic" . }}

	{{ range .Sections }}
    <div class="row my-5 justify-content-center">
      <div class="col-md-8">
    		<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="row">
          {{ range .Pages }}
            <a class="col-4" href="{{ .Permalink }}">
              <div class="card mb-2">
                <div class="card-body text-dark">
                  {{ .Title }}
                </div>
              </div>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

</div>
{{ end }}