{{ define "main" }}

<div class="container">

  {{ partial "title-and-content-basic" . }}

	{{ $research := index $.Site.Taxonomies.tags .Params.research_tag }}
	{{ if gt (len $research) 0 }}
	  <div class="row mt-2 justify-content-center">
	    <div class="col-md-8">

	    	<h4 class="border-bottom">Some research to consider</h4>
		  	<div class="mt-2">
			  	{{ range $research }}
			  		{{ partial "piece-in-spaces-card" . }}
			  	{{ end }}
			  </div>

	    </div>
	  </div>
  {{ end }}

  <div class="row mt-0 justify-content-center">
    <div class="col-md-8">
    	<h4 class="border-bottom">Cases collected so far</h4>
		  {{ range .Pages }}
		  	<div class="mt-4">
		  		<div class="row">
		  			<div class="col-6">
					  	<h4 class="mt-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
					  </div>
					  <div class="col-6">
					  	<ul>
							  <li>{{ len (index $.Site.Taxonomies.tags .Params.case_tag) }} articles and links</li>
							</ul>
						</div>
					</div>
			  </div>
		  {{ end }}

	  	<div class="mt-8">
		  	<h4 class="mb-2 border-bottom">✋ Have a different perspective?</h4> 
		  	<div><button type="button" class="btn btn-outline-primary">Suggest a new case.</button></div>
		  </div>
    </div>
  </div>

</div>

{{ end }}