baseURL = "https://busterbenson.com/"
languageCode = "en-us"
theme = "buster"
title = "Buster Benson"

enableEmoji = true
enableInlineShortcodes = true
sectionPagesMenu = "main"

googleAnalytics = 'UA-103669606-4'
disqusShortname = 'buster-wiki'
logFile = '/tmp/hugo.log'

[params]
custom_css = ["css/vendor.css", "css/style.css", "css/open-iconic-bootstrap.min.css", "css/kefa.css", "css/buster.css"]
custom_js = ["js/vendor.min.js", "js/app.js"]

[taxonomies]
tag = "tags"
pile = "piles"
projects = "projects"
category = "categories"
influence = "influences"

[outputs]
home = ["HTML", "RSS", "Algolia"]

## Algolia 
## https://forestry.io/blog/search-with-algolia-in-hugo/
## To re-index, from root: npm run algolia (uses .env)
[outputFormats.Algolia]
baseName = "algolia"
isPlainText = true
mediaType = "application/json"
notAlternative = true

[params.algolia]
vars = ["title", "author", "link", "one_liner", "date", "featured_image"]
params = ["piles", "influences", "projects", "categories"]