{{ define "main" }}


<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      {{ partial "title-and-content-basic" . }}


      <div class="row">
        {{ range (.Pages.ByParam "project_weight").Reverse }}
          <div class="col-6 mb-2">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ .URL }}">{{ .Title }}</a>
                </h4>
                <h6 class="card-subtitle">
                  {{ .Params.one_liner }}
                </h6>
                {{ if gt (len .Pages) 0 }}
                  <div class="small mt-1 pt-1" style="border-top: 1px solid #eee">{{ len .Pages }} posts</div>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>

    <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
    </div>
  </div>

</div>

{{ end }}