{{ define "main" }}

<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      <div class="mt-1 text-smaller"><strong><a href="/projects">PROJECTS</a></strong></div>
      {{ partial "title-and-content-basic" . }}


      {{ if index .Site.Taxonomies.projects .Data.Term }}
        <div class="my-5">
          <h3>Related writing</h3>
          <ul>
            {{ range index .Site.Taxonomies.projects .Data.Term }}
      	    	{{ partial "list-item-for-page" . }}
          	{{ end }}
          </ul>
        </div>
      {{ end }}
    </div>

	  <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
 	  </div>

  </div>

</div>


{{ end }}