{{ define "main" }}

<div class="container">

  {{ partial "title-and-content-basic" . }}

  <div id="beliefs-list" class="row mt-2 justify-content-center">
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-lg-8">
      {{ range $tag1, $map1 := $.Site.Data.beliefs }}
        <a name="{{ $tag1 }}" href="#belief-category-{{ $tag1 }}"></a>
        {{ range $tag2, $beliefs := $map1 }}
          <div class="card mb-3">
            <div class="card-body">
              <h3 class="card-title">{{ $tag1 }} : {{ $tag2 }}</h3>
            </div>
            <ul class="list-group list-group-flush">
              {{ range $beliefs }}
                <li class="list-group-item px-3">{{ .desc }}</li>
              {{ end }}
            </ul>

          </div>
        {{ end }}
      {{ end }} 
    </div>

    <div class="col-2 d-none d-md-block">
      <div class="sticky sticky-with-header is_stuck" style="position: relative; top: 0; width: 255px;">
        {{ range $tag1, $map1 := $.Site.Data.beliefs }}
          <div class="overlay-menu">
            <p><a class="text-secondary" href="#{{ $tag1 }}">{{ $tag1 }}</a></p>
          </div>
        {{ end }}
      </div>
    </div>

  </div>
</div>

{{ end }}