{{ define "main" }}

<div class="container">

  {{ partial "title-and-content-basic" . }}

  <div class="row mt-2 justify-content-center">
    <div class="col-md-12">

      {{ range (.Paginator 50).Pages.ByDate }}
        {{ if ne (.Param "hide_from_lists") true }}
          {{ if and (isset .Params "featured_image") (ne (.Param "featured_image") "") }}
              <p class="mb-3">
                <img class="card-img-top" src="{{ .Param "featured_image" }}" alt="{{.Title}}">
              </p>
          {{ end }}          
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>

{{ end }}