{{ define "main" }}

<div class="container-fluid">
  <div class="row mt-lg-8 mt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      <div class="mt-1 text-smaller"><strong><a href="/me">ABOUT</a> · <a href="/influences">INFLUENCES</a></strong></div>
      {{ partial "title-and-content-basic" . }}

      {{ range $page := index .Site.Taxonomies.influences .Data.Term }}
	    	{{ partial "piece-card" $page }}
    	{{ end }}
    </div>

    <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
    </div>
  </div>

</div>

{{ end }}