#nav {
	padding: 0;
	margin: 0;
}
#top {
	background-color: #fff;
	color: #000;
}
body {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}
a.special, a:hover.special {
	color: #f0661d;
}
a, a:hover {
	color: #039;
}
a:hover {
	color: #039;
	text-decoration: underline;
}
.theme-background {
	background-color: #f7f5a0; 
}
.border-tertiary {
	border-color: #eee;
	color: #666;
}
.border-tertiary a {
	color: #666;
}
h1, .h1 {
	font-weight: 700;
}
h1, h2, h3, .h1, .h2, .h3 {
	font-family: 'recoleta', 'Georgia', serif;
}
h4, h5, h6, .h3, .h4, .h5, .h6 {
	font-family: "Source Sans Pro", sans-serif;
}
.card-title {

}
h4 {
	color: #333;
}
h4.mailchimp {
	border-bottom: none;
}
li {
	margin-bottom: 0.75em;
}
mark {
	background-color: #f7f5a0;
	padding: 2px;
}
mark a {
	color: #000;
	text-decoration: none !important;
}
blockquote {
	border-left: 8px solid #f7f5a0;
	padding-left: 1em;
	margin-top: 0.5em;
	color: #666;
	padding-top: 0;
	font-style: italic;
}
blockquote h4 {
	font-style: normal;
}
#title-and-content h3 {
	margin-top: 1.25em;
}
.page-content img {
	border: 1px solid #ccc;
	martin: 1em 0;
}
.homepage h3 {
}
.homepage blockquote h4 {
	margin-top: 0;
	color: #666;
	font-size: 20px;
}
.title {
	font-size: 60px; 
	margin-bottom: 0px;
}
.small-title {
	font-size: 40px; 
	margin-bottom: 0px;
}
.subtitle {
	color: #666;
	line-height: 1.5em;
} 
.significant, .significant a {
}
.card-body {
	padding: 20px;
}
.card-title {
}
.tooltip-inner {
}
.playfair {
	font-family: 'recoleta', sans-serif;
	font-weight: 200;
}
.condensed {
	font-family: 'roboto-condensed', 'Times New Roman', sans-serif;
}
.supernett {
	font-family: 'supernett', sans-serif;
}
.recoleta {
	font-family: 'recoleta', "Georgia", serif;
}
.blog-title, .blog-title a {
	color: #f0661d;
	font-family: 'recoleta', 'Georgia', sans-serif;
}
.blog-title a:hover {
	text-decoration: none;
}
.blog-content {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}
header {
	background-color: #111;
	color: #fff;
}
header .navbar-text a.navbar-link, header .navbar-text a:visited.navbar-link {
	color: #fff;
}
header .navbar-text a:hover.navbar-link {
	color: #ff0;
	text-decoration: none;
}
footer {
}
.text-small {
	font-size: 15px;
}
.text-smaller {
	font-size: 13px;
}
.text-smaller strong {
	color: #333;
	border-bottom: 1px solid #333;
}
.text-smaller strong a, .text-smaller strong a:hover {
	color: #336;
	text-decoration: none;
	border-bottom: 1px solid #039;
}
#mc_embed_signup {
	font-family: "Source Sans Pro", sans-serif !important;
}
#mc_embed_signup form {
	margin: 0;
	padding-left: 0 !important;
}
#mc_embed_signup #mce-success-response {
	color: #000 !important;
	font-size: 20px;
}
#mc_embed_signup div#mce-responses {
	margin: 0 !important;
	padding: 0 0 1em 0 !important;
}
button.btn button.button-link {
	text-decoration: none !important;
	border: 1px solid #000 !important;
}
iframe {
	margin-bottom: 1em;
}
.book-sidebar {
	border-right: 1px solid #ccc;
}
.embedly-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 10px;
}
.blog-post {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	line-height: 1.8;
}
.blog-post h1 {
	font-size: 42px;
}
.blog-post h2 {
	font-size: 28px;
	font-weight: 700;
	margin-top: 1.7em;
}
.blog-post h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.15;
	line-spacing: -0.15em;
}
.blog-post h4 {
	font-size: 24px;
	font-weight: 600;
	line-spacing: -0.15em;
}
.blog-post a {
	text-decoration: underline;
	font-family: "Source Sans Pro", sans-serif;
}
.blog-post hr {
	margin: 3em;
}
.blog-post blockquote em {
	font-size: 30px;
	font-style: italic;
	color: #666;
	border-left: 0px solid #fff;
}
.responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    border: 1px solid #333;
}
