#top {
	background-color: #fff;
	color: #000;
}
body.night header {
	background-color: #eff;
}
.theme-background {
	background-color: #efe; 
}
body.night .theme-background {
	background-color: #eff;	
}
h1, h2 {
	font-family: 'lora', serif;
}
h3.card-title {
	font-size: 20px;
}
h4 {
	margin-top: 1.5em;
}
h4.mailchimp {
	border-bottom: none;
}
.title {
	font-size: 60px; 
	margin-bottom: 0px;
}
.subtitle {
	color: #666;
	padding-bottom: 1em;
	margin-top: 0px;
	border-bottom: none;
}
.card-title {
	margin-bottom: 0px;
}
.lora {
	font-family: 'lora', serif;
}
header {
	background-color: #efe;
}
header .topnav a.navbar-text, header .topnav a:visited.navbar-text {
	color: #000;
}
header .topnav a:hover.navbar-text {
	color: #000;
}
footer {
}
#mc_embed_signup {
	font-family: "Muli", sans-serif !important;
}
#mc_embed_signup form {
	margin: 0;
	padding-left: 0 !important;
}
#mc_embed_signup #mce-success-response {
	color: #000 !important;
	font-size: 20px;
}
#mc_embed_signup div#mce-responses {
	margin: 0 !important;
	padding: 0 0 1em 0 !important;
}
button.btn button.button-link {
	text-decoration: none !important;
	border: 1px solid #000 !important;
}
iframe {
	margin-bottom: 1em;
}
.embedly-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 10px;
}