{{ define "main" }}

<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">
    <div class="col-md-12">
      <div class="mt-1 mb-2 text-smaller"><strong><a href="/projects">PROJECTS</a> • {{ .Title }}</strong></div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-8">
			<figure class="figure">
		  	<img src="{{ $.Param "featured_image" }}" class="figure-img img-fluid rounded" alt="">
			</figure>
		</div>

    <div class="col-md-4 mt-2">
			<p>{{ .Content }}</p>
		</div>

  </div>
</div>

{{ end }}

