{{ define "main" }}

<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">


    <div class="col-12">
      <div class="mt-1 text-smaller"><strong><a href="/projects">PROJECTS</a></strong></div>
      {{ partial "title-and-content-basic" . }}

      <div class="row justify-content-start">
      {{ range (.Paginator 50).Pages.ByDate }}
        {{ if ne (.Param "hide_from_lists") true }}
          {{ partial "image-card" . }}
        {{ end }}
      {{ end }}
      </div>

    </div>
  </div>
</div>

{{ end }}