{{ define "main" }}
<div class="container">
  
	<div class="row mt-4 justify-content-center">
	  <div class="col-md-8">
	    <h1 class="small-title lora">{{ .Title }}</h1>
	    <h4 class="subtitle mt-0">{{ .Param "one_liner" | safeHTML }}</h4>
  	  {{ if .Params.link }}
  	  	<div class="mt-1">
  	  		<small> 
  	  			{{ if eq .Params.author "me" }}
  	  				<a href="/me">Buster Benson</a> <span class="text-secondary px-1">|</span>
  	  			{{ else if ne .Params.author ""}}
  	  				{{ $person := replace (lower .Params.author) " " "-" }}
			  			{{ with $person := $.Site.GetPage ( printf "/influences/%s" $person ) }}
					  		<a href="{{ .Permalink }}">{{ .Title }}</a>
					  	{{ else }}
					  		{{ .Params.author }}
				  		{{ end }}
  	  				<span class="text-secondary px-1">|</span>  	  			
  	  			{{ end }}
  	  			<a href="{{ .Params.link }}" target="_new"> Read it:</a>
  	  			<a href="{{ .Params.link }}" class="text-secondary" target="_new">{{ .Params.link }}</a>
  	  		</small>
  	  	</div>
    	{{ end }}
		  <div class="small mt-1">
		    {{ if .Params.annotated_link }}
	  	  	<a href="{{ .Params.annotated_link }}" target="_new"><mark class="text-primary"><span class="oi oi-comment-square"></span> Read it with in-line comments</mark></a>
	  	  {{ end }}
	  	</div>

	    {{ if and (ne (.Param "featured_image") "") (ne (.Param "hide_image_on_detail") true) }}
	      <div class="mt-4">
	      	<a href="{{ .Params.link }}" class="mr-2" target="_new"><img src="{{$.Params.featured_image}}" class="rounded align-center img-thumbnail" /></a>
	      </div>
	    {{ end }}

			<div class="mt-4 mb-3 piece-content">{{ .Content }}</div>
		</div>
	</div>

	<div class="row mt-2 justify-content-center border-top pt-5">
	  <div class="col-md-8 small">
	  	{{ if .Params.piles }}
		  	{{ range .Params.piles }}
		  		{{ with $pile := $.Site.GetPage ( printf "/piles/%s" . ) }}
			  		<div>In the <mark><a href="{{ .Permalink }}">{{ .Title }}</a></mark> pile.</div>
		  		{{ end }}
		  	{{ end }}
			{{ end }}
			{{ if .Params.projects }}
		  	{{ range .Params.projects }}
		  		{{ with $project := $.Site.GetPage ( printf "/projects/%s" . ) }}
			  		<div>Part of the <mark><a href="{{ .Permalink }}">{{ .Title }}</a></mark> project.</div>
		  		{{ end }}
		  	{{ end }}
			{{ end }}
	  </div>
	</div>
</div>
{{ end }}
