{{ define "main" }}


<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      <div class="mt-1 text-smaller"><strong><a href="/blog">BLOG</a></strong></div>
	    <h2 class="blog-title">{{ .Title }}</h2>
	    <h4 class="subtitle mt-0">{{ .Param "one_liner" | safeHTML }}</h4>
  	  {{ if .Params.link }}
  	  	<div class="mt-1">
  	  		<small> 
  	  			{{ if eq .Params.author "me" }}
  	  				<a href="/me">Buster Benson</a> <span class="text-secondary px-1">|</span>
  	  			{{ else if ne .Params.author ""}}
  	  				{{ $person := replace (lower .Params.author) " " "-" }}
			  			{{ with $person := $.Site.GetPage ( printf "/influences/%s" $person ) }}
					  		<a href="{{ .Permalink }}">{{ .Title }}</a>
					  	{{ else }}
					  		{{ .Params.author }}
				  		{{ end }}
  	  				<span class="text-secondary px-1">|</span>  	  			
  	  			{{ end }}
  	  			<a href="{{ .Params.link }}" target="_new"> Read it:</a>
  	  			<a href="{{ .Params.link }}" class="text-secondary" target="_new">{{ .Params.link }}</a>
  	  		</small>
  	  	</div>
    	{{ end }}
		  <div class="small mt-1">
		    {{ if .Params.annotated_link }}
	  	  	<a href="{{ .Params.annotated_link }}" target="_new"><mark class="text-primary"><span class="oi oi-comment-square"></span> Read it with in-line comments</mark></a>
	  	  {{ end }}
	  	</div>

			<div class="mt-4 mb-3 pb-2 piece-content border-bottom">{{ .Content }}</div>
			{{ partial "piece-metadata" . }}

    </div>

	  <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
 	  </div>
  </div>

</div>
{{ end }}
