{{ define "main" }}

<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1 homepage">

      <div id="search-box">
        <!-- SearchBox widget will appear here -->
      </div>

      <div id="refinement-list">
        <!-- RefinementList widget will appear here -->
      </div>

      <div id="hits">
        <!-- Hits widget will appear here -->
      </div>

      <img src="/images/algolia.png" class="mt-5 small" />


      <script>
        const search = instantsearch({
          appId: 'TPKLWWZA3Y',
          apiKey: 'f6fde110aac3f0d8c9ed3cbce44b101d',
          indexName: 'busterbenson',
          routing: true
        });

        // initialize RefinementList
        search.addWidget(
          instantsearch.widgets.refinementList({
            container: '#refinement-list',
            attributeName: 'categories'
          })
        );

        // initialize SearchBox
        search.addWidget(
          instantsearch.widgets.searchBox({
            container: '#search-box',
            placeholder: 'Search for something'
          })
        );

        // initialize hits widget
        search.addWidget(
          instantsearch.widgets.hits({
            container: '#hits',
            templates: {
              empty: 'No results',
              item: '<div><h4 class="mt-2"><a href="{{ safeHTML "{{{ permalink }}}" }}">{{ safeHTML "{{{ _highlightResult.title.value }}}" }}</a></h4></div>'
            }
          })
        );

        search.start();
      </script>
    </div>

    <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
    </div>
  </div>

</div>

{{ end }}