{{ define "main" }}
{{ $paginator := .Paginate .Pages 50 }}
<div class="container">
  
  {{ partial "title-and-content-basic" . }}

  <div class="row mt-2 justify-content-center">
    <div class="col-md-8">

      <!-- create a list with all uppercase letters -->
      {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

      <!-- range all pages sorted by their title -->
      <ul>
      {{ range .Data.Pages.ByTitle }}
        <!-- get the first character of each title. Assumes that the title is never empty! -->
        {{ $firstChar := substr .Title 0 1 | upper }}
      
        <!-- in case $firstChar is a letter -->
        {{ if $firstChar | in $letters }}
          <!-- get the current letter -->
          {{ $curLetter := $.Scratch.Get "curLetter" }}
          <!-- if $curLetter isn't set or the letter has changed -->
          {{ if ne $firstChar $curLetter }}
          <!-- update the current letter and print it -->
            {{ $.Scratch.Set "curLetter" $firstChar }}
            </ul> 
            <h3>{{ $firstChar }}</h3>
            <ul class="mb-3">
          {{ end }}

          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}       
    </div>
  </div>

  {{ partial "pagination" . }}

</div>
{{ end }}