{{ define "main" }}
{{ $paginator := .Paginate .Pages 50 }}


<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      <div class="mt-1 text-smaller"><strong><a href="/blog">BLOG</a></strong></div>
      {{ partial "title-and-content-basic" . }}

      <!-- create a list with all uppercase letters -->
      {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

      <!-- range all pages sorted by their title -->
      <ul>
      {{ range .Data.Pages.ByTitle }}
        <!-- get the first character of each title. Assumes that the title is never empty! -->
        {{ $firstChar := substr .Title 0 1 | upper }}
      
        <!-- in case $firstChar is a letter -->
        {{ if $firstChar | in $letters }}
          <!-- get the current letter -->
          {{ $curLetter := $.Scratch.Get "curLetter" }}
          <!-- if $curLetter isn't set or the letter has changed -->
          {{ if ne $firstChar $curLetter }}
          <!-- update the current letter and print it -->
            {{ $.Scratch.Set "curLetter" $firstChar }}
            </ul> 
            <h3>{{ $firstChar }}</h3>
            <ul class="mb-3">
          {{ end }}

          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}       
      {{ partial "pagination" . }}


    </div>

    <div class="col-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
    </div>
  </div>

</div>

{{ end }}