{{ define "main" }}

<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      <div class="mt-1 text-smaller"><strong><a href="/me">ABOUT</a></strong></div>
      {{ partial "title-and-content-basic" . }}

      {{ range $pile, $list := $.Site.Data.beliefs }}
        <a name="{{ $pile }}" href="#belief-pile-{{ $pile }}" style="top: -60px;"></a>
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title mt-0">
              {{ with $.Site.GetPage (printf "/piles/%s" $pile) }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
            </h4>
          </div>
          <ul class="list-group list-group-flush">
            {{ range $list }}
              {{ if eq .desc nil }}
                {{ range . }}
                  {{ partial "belief-li" . }}
                {{ end }}
              {{ else }}
                {{ partial "belief-li" . }}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      {{ end }} 

      {{ partial "divider" }}

      <h3>Notes about beliefs</h3>

      {{ range (where (index .Site.Taxonomies.projects "codex-vitae") "Section" "pieces").Pages.ByDate.Reverse }}
        {{ partial "piece-in-spaces-card" . }}
      {{ end }}

    </div>

    <div class="col-8 col-lg-3 order-3 pt-10">
      <div class="sticky sticky-with-header is_stuck" style="width: 255px; padding-top: 60px;">
        {{ range $pile, $list := $.Site.Data.beliefs }}
          <div class="overlay-menu">
            <p><a class="text-secondary small text-truncate" href="#{{ $pile }}">{{ replace $pile "-" " " }}</a></p>
          </div>
        {{ end }}
      </div>
    </div>
  </div>

</div>


{{ end }}