{{ define "main" }}
<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      <div class="mt-1 text-smaller"><strong><a href="/projects">PROJECTS</a></strong></div>
      {{ partial "title-and-content-basic" . }}
      <h3>The <strong>3 conundrums</strong> we must face.</h3>

      <div class="row mt-2 justify-content-center">
        <div class="col-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Information</h3>
              <p class="card-text">There's too much information to process, and we have <mark>limited attention to give</mark>, so we <strong>filter</strong> lots of things out.</p>
              <p class="card-text">Noise becomes signal.</p>
              <p class="card-text">The downside: we don’t see everything. Some of the information we filter out is actually useful and important..</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Meaning</h3>
              <p class="card-text">Lack of meaning is confusing, and we have <mark>limited capacity to understand how things fit together</mark>, so we <strong>create stories</strong> to make sense of everything.</p>
              <p class="card-text">Signal becomes a story.</p>
              <p class="card-text">The downside: our search for meaning can conjure illusions. We sometimes imagine details that were filled in by our assumptions, and construct meaning and stories that aren’t really there.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Time</h3>
              <p class="card-text">We never have enough time, resources, or attention at our disposal <mark>to get everything that needs doing done</mark>, so we <strong>jump to conclusions</strong> with what we have and move ahead.</p>
              <p class="card-text">Stories become decisions.</p>
              <p class="card-text">The downside: quick decisions can be seriously flawed. Some of the quick reactions and decisions we jump to are unfair, self-serving, and counter-productive.</p>
            </div>
          </div>
        </div>
      </div>

      <h3>The <strong>13 strategic shortcuts</strong> we've picked up to compensate.</h3>

      <div class="row mt-2 justify-content-center">
        <div class="col-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Filter information</h3>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">1. Depend on the context.</li>
              <li class="list-group-item">2. Accept what comes to mind.</li>
              <li class="list-group-item">3. Amplify the bizarre.</li>
              <li class="list-group-item">4. Notice the new and different.</li>
              <li class="list-group-item">5. Seek take-aways.</li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Confabulate stories</h3>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">6. Fill in gaps.</li>
              <li class="list-group-item">7. Favor the familiar.</li>
              <li class="list-group-item">8. Treat experience as reality.</li>
              <li class="list-group-item">9. Simplify mental math.</li>
              <li class="list-group-item">10. Be overconfident.</li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Jump to conclusions</h3>
              <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">11. Stick with it.</li>
              <li class="list-group-item">12. Protect existing beliefs.</li>
              <li class="list-group-item">13. Do the safe thing.</li>
            </ul>
          </div>
        </div>
      </div>

      <h3>All <strong>200+ biases</strong> are both blessings and curses.</h3>

      <div class="row mt-2 justify-content-center">
        <div class="col-lg-12">
          <img src="/images/cognitive-bias-codex.jpeg" />
        </div>
      </div>

      {{ if (where .Pages "Section" "influences") }}
        <h3 class="mt-5">People who have influenced my thinking</h3>
        <div class="row justify-content-start">
          {{ range (where .Pages "Section" "influences").ByTitle }}
            {{ if ne (.Param "hide_from_lists") true }}
              {{ partial "person-card-mini" . }}
            {{ end }}
          {{ end }}
        </div>
      {{ end }}

      <h3>My current beliefs</h3>
      <div class="row mt-2 justify-content-center">
        <div class="col-md-12">
          <ul class="list-group">
            {{ range $list := index $.Site.Data.beliefs "cognitive-biases" }}
              {{ if eq .desc nil }}
                {{ range . }}
                  {{ partial "belief-li" . }}
                {{ end }}
              {{ else }}
                {{ partial "belief-li" . }}
              {{ end }}
            {{ end }}
            <li class="list-group-item"><a href="/beliefs" class="text-secondary">See all beliefs</a></li>
          </ul>
        </div>
      </div>


      {{ partial "related-writing" . }}
    </div>

    <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
    </div>

  </div>

</div>

{{ end }}