{{ define "main" }}
{{ $paginator := (.Paginator 50).Pages.ByTitle }}

<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1">
      <div class="mt-1 text-smaller"><strong><a href="/blog">BLOG</a></strong></div>
      {{ partial "title-and-content-basic" . }}

      <div class="row">
        {{ range $paginator }}
          {{ if gt (len .Pages) 0 }}
            <div class="col-12 col-xs-6 col-sm-4 mb-4">
              <div class="card-title mb-0 mt-1 recoleta">
                <a href="{{ .URL }}">{{ .Title }}</a>
              </div>
              {{ if gt (len .Pages) 0 }}
                {{ range .Pages }}
                  {{ if gt .Date (now.AddDate 0 -1 0) }}
                    <span data-toggle="tooltip" data-placement="auto" title="{{ .Title }}"><a href="{{ .Permalink }}" style="text-decoration: none;">●</a></span>
                  {{ else if gt .Date (now.AddDate -1 0 0) }}
                    <span data-toggle="tooltip" data-placement="auto" title="{{ .Title }}"><a href="{{ .Permalink }}" style="text-decoration: none;">◉</a></span>
                  {{ else }}
                    <span data-toggle="tooltip" data-placement="auto" title="{{ .Title }}"><a href="{{ .Permalink }}" style="text-decoration: none;">◎</a></span>
                  {{ end }}
                {{ end }}
              {{ end }}
              <div>
                <em>{{ .Params.one_liner | safeHTML }}</em>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>

    </div>

    <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
    </div>
  </div>

</div>

{{ end }}