{{ define "main" }}
{{ $paginator := (.Paginator 50).Pages.ByTitle }}

<div class="container">
  
  {{ partial "title-and-content-basic" . }}

  <div class="row mt-2 justify-content-start">
    <div class="col-md-12">
      <div class="row mt-2 justify-content-start">
      {{ range $paginator }}
        <div class="col-6 col-lg-4 mb-2">
          <div class="card">
            <div class="card-body">
              <div class="float-right">
                <span class="badge badge-light badge-pill">{{ len .Pages }}</span>
              </div>
              <h5 class="card-title">
                <a href="{{ .URL }}">{{ .Title }}</a>
              </h5>
              <h6 class="card-subtitle">
                {{ .Params.one_liner }}
              </h6>
            </div>
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </div>

</div>
{{ end }}