{{ define "main" }}

<div class="container">

  {{ partial "title-and-content-basic" . }}

  {{ if (where .Pages "Section" "influences") }}
    <div class="row mt-2 justify-content-center">
      <div class="col-md-8">
        <h4>People who have influenced my thinking</h4>
      </div>
      <div class="col-md-8 mt-2">
        <div class="row justify-content-start">
          {{ range (where .Pages "Section" "influences").ByTitle }}
            {{ if ne (.Param "hide_from_lists") true }}
              {{ partial "person-card-mini" . }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ if (where .Pages "Section" "projects") }}
    <div class="row mt-2 justify-content-center">
      <div class="col-md-8">
        <h4>Related projects sparked by this</h4>
      </div>
      <div class="col-md-8 mt-2">
        <div class="row justify-content-start">
          {{ range (where .Pages "Section" "projects").ByTitle }}
            {{ if ne (.Param "hide_from_lists") true }}
              {{ partial "person-card-mini" . }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ if ne (index $.Site.Data.beliefs .Data.Term) nil }}
  <div class="row mt-2 justify-content-center">
    <div class="col-md-8">
      <h4>My current beliefs</h4>
    </div>
  </div>
  <div class="row mt-2 justify-content-center">
    <div class="col-md-8">
      <ul class="m-0 p-0">
        {{ $pile := .Data.Term }}
        {{ range $list := index $.Site.Data.beliefs .Data.Term }}
          <li class="mb-2">{{ $list.desc }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}

  {{ if (where .Pages "Section" "pieces") }}
    <div class="row mt-2 justify-content-center">
      <div class="col-md-8">
        <h4>Pieces of the puzzle</h4>
      </div>
    </div>
    {{ range (where .Pages "Section" "pieces").ByDate.Reverse }}
      <div class="row justify-content-center">
        <div class="col-md-8 justify-content-start">
          {{ partial "piece-card" . }}
        </div>
      </div>
    {{ end }}
  {{ end }}


</div>

{{ end }}