{{ define "main" }}
<div class="container">
  
	<div class="row mt-2 justify-content-center">
	  <div class="col-md-8">
	    <h1 class="title">{{ .Title }}</h1>
	    <h4 class="subtitle">{{ .Param "one_liner" | safeHTML }}</h4>

	    {{ if and (ne (.Param "featured_image") "") (ne (.Param "hide_image_on_detail") true) }}
	      <img src="{{$.Params.featured_image}}" class="rounded align-center img-thumbnail" />
	    {{ end }}

			<div class="mt-2">{{ .Content }}</div>
		</div>
	</div>

  <div class="row mt-2 justify-content-center">
    <div class="col-md-8">
    </div>
  </div>
</div>
{{ end }}