<li class="list-group-item">
	<h5 class="playfair">{{ .desc }}</h5>
	<div class="small text-muted mt-1">
		{{ if .conflict_of_head }}
			<span data-toggle="tooltip" data-placement="top" title="A belief based on information.">🧠</span>
		{{ end }}
		{{ if .conflict_of_heart }}
			<span data-toggle="tooltip" data-placement="top" title="A belief based on my values.">❤️</span>
		{{ end }}
		{{ if .conflict_of_hand }}
			<span data-toggle="tooltip" data-placement="top" title="A belief about the outcome of some action.">✋</span>
		{{ end }}
		{{ if eq .confidence "high" }}
			<span data-toggle="tooltip" data-placement="top" title="High confidence">💪</span>
		{{ else if eq .confidence "low" }}
			<span data-toggle="tooltip" data-placement="top" title="Low confidence">🤞</span>
		{{ end }}
		{{ if gt .anxiety 1 }}
			<span data-toggle="tooltip" data-placement="top" title="This belief triggers some anxiety when challenged.">🐲</span>
		{{ end }}
	</div>
</li>
