{{ if not (eq .URL "/search/") }}
<form method="GET" action="/search">
  <div class="form-group">
    <input type="input" name="query" class="form-control" id="search-query" placeholder="Searching for something?">
  </div>
</form>
{{ end }}

<div class="mt-1 text-smaller"><strong><a href="/me">ABOUT ME</a></strong></div>

<p class="text-center"><img src="/images/rickshaw-circle.png" style="width: 150px" class="pt-3"></p>

<p><strong>Buster Benson</strong> (<a href="https://twitter.com/buster" target="_new">@buster</a>) is a writer and builder of things. If you're new here, check the <a href="/me">about page</a>.</p>

<div class="mt-4 text-smaller mb-1"><strong>SUBSCRIBE TO MY NEWSLETTER</strong></div>

<p>Join my newsletter to get updates about my book and analysis of bias and unproductive disagreements in the wild. <a href="https://buster.substack.com/archive" target="_new">View the archive</a>.</p>

<form class="form " action="https://buster.substack.com/api/v1/free?nojs=true" method="post" novalidate="true">
	<input type="hidden" name="first_url" value="https://buster.substack.com/">
	<input type="hidden" name="first_referrer" value="">
	<input type="hidden" name="current_url" value="https://buster.substack.com/">
	<input type="hidden" name="current_referrer" value="">
	<input type="hidden" name="referral_code">
	<input type="email" name="email" value="" placeholder="Type your email…" class="form-control">
	<div class="mt-1"><button class="button btn btn-primary btn-sm btn-dark" type="submit" style=""><b>Subscribe</b></button></div>
</form>

{{ if not (eq .Section "") }}
<div class="mt-4 text-smaller mb-1"><strong>SEND ME A JOKE</strong></div>
<p>I'm not great at email but I'm not the worst either. My DMs are open <a href="https://twitter.com/buster" target="_new">on Twitter</a> as well.</p>
<div class="mt-2">{{ partial "contact-me" . }}</div>
{{ end }}