<div class="col-12 p-5 mt-10 text-center" style="background-color: #fdefd4;">
  <h3 class="mb-3"><strong>Get your copy</strong> of <em>Why Are We Yelling?</em></h3>
  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/7/trackingcode/randohouseinc35324-20" class="btn btn-outline-orange mx-1 mb-1" target="_new">Amazon</a>
  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/2/trackingcode/PRH8ECCEED34F" class="btn btn-outline-orange mx-1 mb-1" target="_new">Barnes &amp; Noble</a>
  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/5/trackingcode/PRH8ECCEED34F" class="btn btn-outline-orange mx-1 mb-1" target="_new">Books-A-Million</a>
  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/6/trackingcode/penguinrandom" class="btn btn-outline-orange mx-1 mb-1" target="_new">IndieBound</a>
</div>
