        <div class="col-12 col-md-8 col-lg-8 mt-5 p-5">
          <h3 class="mb-3 text-center">...then claim your <strong>free bonuses!</strong></h3>
          <div class="text-center mb-2"><em>Buy the book from your favorite bookseller, then forward your purchase receipt to</em> <code>iboughtwhyareweyelling@gmail.com</code> <em>to receive the following bonuses...</em></div>

          <ol class="bonus-list">
            <li><strong>A Free Chapter.</strong> Available for all pre-orders. In this chapter I share why I wrote the book, and the three superpowers you will gain by reading it.</li>
            <li><strong>Disagreement Template w/ Examples.</strong> A simple template for having productive disagreements with several real examples from my life.</li>
            <li><strong>A Bonus Chapter.</strong> I wrote a fun chapter about disagreements and games that didn't make the final cut for the book, but I'll send it to you when the book comes out.</li>
            <li><strong>Disagreement FAQ and Book Club.</strong> I'll be hosting a series of chapter-specific book clubs in a private group, which you'll be invited to join!</li>
            <li><strong>Ask Me Anything.</strong> You'll be invited to submit a question that I will answer once the book comes out.</li>
          </ol>
        </div>

        <div class="col-12"><a name="about"></a></div>
        <div class="col-12 p-5 mt-2 text-center justify-content-center">
          <h3 class="text-center">What is the book about?</h3>
          <p class="text-center text-subdued">It's a light read filled with real stories and 100 of my own illustrations</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <div class="responsive-container text-center"><iframe class="responsive-iframe" src="//slides.com/busterbenson/why-are-we-yelling-tour/embed" byline="hidden" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
            </div>
          </div>
        </div>

        <div class="col-12 justify-content-center" style="background-color: #fdefd4;">
          <div class="col-12 col-md-8 col-lg-8 px-5 mx-auto mb-5">
            <h3 class="mt-5 text-center">10 questions we'll explore in this book&hellip;</h3>
            <ol class="bonus-list mt-2">
              <li>How can I turn tense, frustrating moments into productive ones?</li>
              <li>How can I remain calm even when I'm put on the spot?</li>
              <li>How can I have productive disagreements without endorsing harmful ideas?</li>
              <li>How can I learn from the anxiety I feel when I'm in the heat of a conflict?</li>
              <li>How can I become curious about people I believe are dangerous and wrong?</li>
              <li>How can I move forward when an argument has reached a dead end?</li>
              <li>How can I see disagreements as opportunities rather than obstacles?</li>
              <li>How can I avoid being taken advantage of in bad faith conversations?</li>
              <li>How can I build stronger arguments in collaboration with my opponents?</li>
              <li>How can I apply all of this to my relationships, career, and politics?</li>
            </ol>
          </div>
        </div>

        <div class="col-12 col-md-8 col-lg-7 p-5">
          <h3 class="mb-3 text-center">What some very kind people have said</h3>
          <p>“This is a life-changing book. Read it three times and then give a copy to anyone you care about. It will make things better.”
          <br /><strong>—Seth Godin,</strong> <em>author of This is Marketing</em></p>

          <p>“This is the perfect book at the perfect time to bring some sanity back into disagreements. Buster Benson unveils a new framework for arguing that helps you understand your biases and show other people theirs in a nonconfrontational way.”
          <br /><strong>—Annie Duke,</strong><em> author of Thinking in Bets</em></p>
          
          <p>“Productive disagreeing is the most underrated life skill you can build. Buster Benson turns everything you know about arguing on its head. Before reading this book, I never thought I’d be looking forward to my next disagreement.”
          <br /><strong>—Ev Williams,</strong> <em>CEO of Medium and cofounder of Twitter</em></p>
          
          <p>“In this lively, accessible, and practical guide, Buster Benson offers us eight valuable principles for turning rude arguments or suppressed differences into dynamic conversations that illuminate, connect, and yield better results for all. With Benson’s help, let the arguing begin!”
          <br /><strong>—William Ury,</strong> <em>coauthor of Getting to Yes and author of Getting to Yes with Yourself</em></p>

          <p>“With provocative ideas—and the brain science to back them up—Why Are We Yelling? offers fresh approaches to conflict and connection.”
          <br /><strong>--Sarah Milstein,</strong> <em>author of The Twitter Book</em></p>
          
          <p>“Conflict can be ugly. But if you follow the precepts of Buster Benson, you’ll discover that it’s also inevitable, necessary, and even helpful. Everybody can learn how to argue better and more productively with this provocative book.”
          <br /><strong>—Daniel H. Pink,</strong> <em>author of When and To Sell Is Human</em></p>
          
          <p>“I’m a sucker for frameworks, and this is one of the greats. You’ll learn to turn the messy, frustrating, emotional experience of arguing into a fine art.”
          <br /><strong>—Nir Eyal,</strong> <em>author of Hooked and Indistractable</em></p>
          
          <p>“In today’s polarized climate, ‘productive disagreement’ often feels like an oxymoron. Benson brilliantly challenges this idea, offering a thoughtful guidebook on how to lower our voices, tolerate tension, and have the constructive dialogue our world needs.”
          <br /><strong>—General Stanley McChrystal,</strong> <em>author of Leaders and Team of Teams</em></p>
          
          <p>“Buster Benson’s methods are instantly actionable, his writing is funny and relatable, and his book is the ideal companion to <em>Difficult Conversations</em>.”
          <br /><strong>—Adam Grant,</strong> <em>author of Originals and Give and Take,
          and host of the TED podcast WorkLife</em></p>

          <p>“Reading <em>Why Are We Yelling?</em> is like having your most calm, level-headed friend explain how you might diffuse a tense situation in your life and work. I especially recommend this book to anyone who has ever tried to ‘win’ an argument only to end up frustrated with the results.”
          <br /><strong>--Jason Shellen,</strong> <em>co-founder of Google Reader, Boxer, and Brizzly; founder of A Little Drive</em></p>

        </div>
