<div class="col-12 p-5 mt-10 text-center" style="background-color: #fdefd4;">
  <h3 class="mb-3"><strong>Get your copy</strong> of <em>Why Are We Yelling?</em></h3>
  <a href="https://amzn.to/34UCElX" class="btn btn-outline-orange mx-1 mb-1" target="_new">Amazon</a>
  <a href="https://www.audible.com/pd/Why-Are-We-Yelling-Audiobook/0593148215" class="btn btn-outline-orange mx-1 mb-1" target="_new">Audible</a>
  <a href="https://amzn.to/30hJ5Bf" class="btn btn-outline-orange mx-1 mb-1" target="_new">Kindle</a>
  <a href="https://www.barnesandnoble.com/w/why-are-we-yelling-buster-benson/1130695557" class="btn btn-outline-orange mx-1 mb-1" target="_new">Barnes &amp; Noble</a>
  <a href="https://www.indiebound.org/book/9780525540106" class="btn btn-outline-orange mx-1 mb-1" target="_new">IndieBound</a>
</div>
