<div class="col-12 col-sm-10 homepage">

  <h1 class="text-center mt-5"><em>Why Are We Yelling?</em><br /><span class="font-weight-light">Learn the life-changing art of productive disagreement.</span></h1>

  <div class="row mt-5 justify-content-center">
    <div class="col-4 col-md-3 text-center">
      <a href="/book"><img src="/images/why-are-we-yelling.png" class="mt-2" style="max-height: 500px;" /></a>
    </div>
    <div class="col-10 col-md-7 align-middle pt-1">
      <form action="https://www.getdrip.com/forms/263449815/submissions" method="post" data-drip-embedded-form="263449815">
        <h3 data-drip-attribute="headline"></h3>
        <p>This book is a new framework that frees you from the futility of unproductive conflict and pointless arguments.
        <u>Read this FREE chapter</u> where I talk about why I wrote the book and what you will get out of it.</p>
        <div class="form-group mt-3">
            <label for="drip-email">Email Address</label>
            <input type="email" id="drip-email" name="fields[email]" value="" class="form-control" placeholder="Type here..." />
          </div>
          
        <div style="display: none;" aria-hidden="true">
          <label for="website">Website</label><br />
          <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
        </div>
        <div>
          <input type="submit" value="GET THE FREE CHAPTER" data-drip-attribute="sign-up-button" class="btn btn-primary btn-block" />
        </div>
      </form>
        
    </div>
  </div>
</div>