<div class="sticky-top mb-3" style="top: 85px;">
	{{ if and (ne (.Param "featured_image") "") (ne (.Param "hide_image_on_detail") true) }}
	  <img src="{{$.Params.featured_image}}" class="rounded align-right img-thumbnail mr-3 mt-1 mb-3" />
	{{ end }}

	{{ if ne .URL "/whyareweyelling/" }}
		<div class="mt-1 text-smaller"><strong><a href="/whyareweyelling">READ MY BOOK</a></strong></div>
		<p class="text-center"><a href="/whyareweyelling"><img src="/images/why-are-we-yelling.png" class="mt-2" style="max-height: 300px;" /></a>
		<div><em>On sale at book places. <a href="/whyareweyelling#buy">Learn more</a>.</em></div></p>
	{{ end }}

</div>


