{{ $data_username    := .Params.data_username }}
{{ $data_birthyear   := .Params.data_birthyear }}
{{ $data_birth_month_and_day := .Params.data_birth_month_and_day}}
{{ $data_file := index $.Site.Data.life $data_username }}

{{ range $num := seq 101 }}
  {{ $age := sub $num 1 }}
  {{ $year := add $data_birthyear $age }}
  {{ $this_year_date := time ( printf "%d-%s" $year $data_birth_month_and_day ) }}
  {{ $year_border_class := cond (gt $this_year_date now) "border-secondary" "theme-background" }}  
  {{ if eq (mod $age 10) 0}}
    <br clear="all" />
    <a name="decade-{{ $age }}"></a>
    <div class="sticky-top mt-1" style="top: 60px; background-color: #fff;"><h3>
      {{ if eq $age 0 }}
        My first ten years
      {{ else if eq $age 10 }}
        My teens
      {{ else if eq $age 100 }}
        Endgame
      {{ else if (gt $this_year_date now)}}
        My eventual {{ $age }}s
      {{ else }}
        My {{ $age }}s
      {{ end }}
    </h3></div>
  {{ end }}      
  <div class="border border-gray float-left {{ $year_border_class }} text-truncate" style="height: 2em; max-height: 2em; max-width: 100%; padding: 2px 5px; margin: 2px;" data-toggle="tooltip" data-placement="auto" title="{{ $age }} years old">{{ $year }}</div>
  {{ range $week := seq 52 }}
    {{ partial "week-cell" (dict "year" $this_year_date "week" (sub $week 1) "person" $data_username "site" $.Site "data_file" $data_file ) }}
  {{ end }}
{{ end }}