{{ $person := "buster" }}
{{ $data_file := $.Site.Data.life.buster }}


{{ $this_year := (int (dateFormat "2006" now)) }}
{{ $current_age := sub (int $this_year) 1976 }}

{{ range $num := seq 11 }}
  {{ $reverse_num := sub 11 $num }}
  {{ $age := sub $current_age $reverse_num }}
  {{ $year := add 1975 $age }}
  {{ $this_year_date := time ( printf "%d-05-21" $year ) }}
  {{ $year_border_class := cond (gt $this_year_date now) "border-secondary" "theme-background" }}  

  <div class="border border-gray float-left {{ $year_border_class }}" style="height: 2em; padding: 2px 5px; margin: 2px;" data-toggle="tooltip" data-placement="auto" title="{{ sub $age 1 }} years old">{{ add $year 1 }}</div>
  {{ range $week := seq 52 }}
    {{ partial "week-cell" (dict "year" $this_year_date "week" $week "person" $person "link_to_more" false "site" $.Site "data_file" $data_file ) }}
  {{ end }}


{{ end }}

<div class="border border-secondary float-left text-center text-truncate border-secondary" style="height: 2em; max-height: 2em; max-width: 100%; padding: 2px 5px; margin: 2px;"><small><a href="/me#decade-0">See more</a></small></div>
