<div class="col-12 col-sm-6 col-lg-4 mb-3">
	<div class="card rounded">
	  {{ if and (isset .Params "featured_image") (ne (.Param "featured_image") "") }}
	  	<a href="{{ .URL }}"><img class="card-image-top" src="{{ .Param "featured_image" }}" alt="{{.Title}}"></a>
	  {{ end }}
	  <div class="card-body">
	    <h3 class="card-title playfair"><a href="{{ .URL }}" class="text-dark">{{ .Title }}</a></h3>	    
	    <p class="card-text px-0"><small>{{ .Param "one_liner" | safeHTML }}</small></p>
	  </div>	

	    
    <ul class="list-group list-group-flush m-0 p-0">
			{{ range $page := first 1 (where (index .Site.Taxonomies.influences .Data.Term) "Params.belief_delta" true) }}
	    	<li class="list-group-item">
	    		<small><a href="{{ .Permalink }}" target="_new">{{ .Title }}</a>{{ if ne .Params.one_liner nil }}: {{ .Params.one_liner }}{{ end }}</small>
	      </li>
	    {{ end }}
    </ul>


	</div>
</div>