<div class="col-6 col-md-6 col-lg-3 mb-3">
	<div class="card rounded">
	  {{ if and (isset .Params "featured_image") (ne (.Param "featured_image") "") }}
	  	<a href="{{ .URL }}"><img class="card-image-top" src="{{ .Param "featured_image" }}" alt="{{.Title}}"></a>
		{{ else }}
			<a href="{{ .URL }}"><img class="card-image-top" src="/images/pieces/emoji-book.png" alt="{{.Title}}"></a>
		{{ end }}
	  <div class="card-body p-1">
	    <small><a href="{{ .URL }}" class="text-dark">{{ .Title }}</a></small>
	  </div>	
	</div>
</div>