<div class="row mb-5">
	<div class="col-6">
		{{ if .Params.link }}
			{{ if eq .Params.author "me" }}
		  	<h4 class="mt-0"><a href="{{ .URL }}">{{ .Params.title }}</a> <a href="{{ .Params.link }}" class="text-info" target="_new">↗</a></h4>
		  {{ else }}
		  	<h4 class="mt-0"><a href="{{ .URL }}">{{ .Params.title }}</a> <a href="{{ .Params.link }}" class="text-info" target="_new">↗</a></h4>
			{{ end }}			
	  {{ else }}
		  <h4 class="mt-0"><a href="{{ .URL }}">{{ .Params.title }}</a></h4>  
	  {{ end }}
	  <div><small>{{ .Params.one_liner | safeHTML }}</small></h3></div>
	</div>

	<div class="col-6">

		{{ if eq .Section "pieces" }}
			{{ if .Params.piles }}
				<div class="border-left p-1">
        	<small>
        		Added to the 
          	{{ $length := (sub (len .Params.piles) 1) }}
						{{ range $index, $pile := .Params.piles }}
		          {{ with $.Site.GetPage (printf "/piles/%s" $pile ) }}
	            	<mark><a href="{{ .Permalink }}">{{ .Title }}</a></mark>
	            	{{- if (ne $length $index) -}}
	            		{{- if eq $length 1 }}
	            			and 
	            		{{- else if eq $index (sub $length 1) -}}
	            			, and 
	            		{{- else -}}
	            			, 
	            		{{- end -}}
	            	{{- else -}}
	            		{{ if gt $length 0 }}
	            			piles.
	            		{{ else }}
	            			pile.
	            		{{ end }}
	            	{{- end -}}
	            {{ end }}
	          {{ end }}
         	</small>

					{{ if and ($author := .Params.author) false }}
						{{ if ne .Params.author "me" }}
							<div><small>
								{{ with $.Site.GetPage (printf "/piles/%s" $author) }}
									By <a href="{{$author.Permalink}}">{{ $author.title }}</a>
								{{ else }}
									Via {{ $author }}
								{{ end }}
							</small></div>
						{{ end }}
					{{ end }}	  
				</div>
			{{ end }}
		{{ end }}

	</div>
</div>