<header class="header header-sticky header-minimal-light"> 
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="/" class="navbar-text">buster.wiki</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>
</header>
