<footer>
  <div class="container">
    {{ if eq (.Param "disqus") true }}
      <div class="row mt-2 justify-content-center">
        <div class="col-md-8">
          {{ partial "divider" }}
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    {{ end }}

    {{ if eq (.Param "thoughts") true }}
      {{ $from_url := .URL }}
      {{ $from_page_title := .Title }}
      {{ $from_question := "Thoughts?" }} 

      {{ if and (ne .Params.thoughts_prompt nil) (ne .Params.thoughts_prompt "") }}
        {{ $from_question = .Params.thoughts_prompt }} 
      {{ end }}

      <div class="row mt-2 justify-content-center">
        {{ if and (ne .Params.thoughts_button nil) (ne .Params.thoughts_prompt "") }}
          <div class="col-md-4 text-center align-self-center"><h4 class="mt-0 playfair">{{ .Params.thoughts_prompt }}</h4></div>
        {{ end }}
        <div class="col-md-4 mt-1 text-center align-self-center">
          <a class="typeform-share button" href="https://buster.typeform.com/to/aW80Y3?from_url={{ $from_url }}&from_page_title={{ $from_page_title }}&from_question={{ $from_question }}" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#000;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:16px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">
            {{ if or (eq .Params.thoughts_button nil) (eq .Params.thoughts_button "") }}
              Thoughts? 
            {{ else }}
              {{ .Params.thoughts_button }}
            {{ end }}
          </a> 
          <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
      </div>
    {{ end }}

    {{ if ne (.Param "hide_footer_nav") true }}
      <div class="row my-10 justify-content-center">
        <div class="col-sm-4 text-center">
          <small class="text-secondary">
            <h3 style="white-space: nowrap;">
              <span data-toggle="tooltip" title="What is true?">🧠</span> 
              <span data-toggle="tooltip" title="What is meaningful?">❤️</span> 
              <span data-toggle="tooltip" title="What is useful?">🖐</span>
            </h3>
            <a href="/" class="text-secondary">Home</a> 
            • <a href="/blog" class="text-secondary">Blog</a>
            • <a href="/book" class="text-secondary text-nowrap">Book</a>
            • <a href="/beliefs" class="text-secondary text-nowrap">Codex</a>
            • <a href="/piles" class="text-secondary text-nowrap">Piles</a>
            • <a href="/projects" class="text-secondary text-nowrap">Projects</a>
            • <a href="/me" class="text-secondary text-nowrap">About</a>
            • <a href="/search" class="text-secondary text-nowrap">Search</a>
            • <a href="https://buster.substack.com" class="text-secondary text-nowrap" target="_new">Newsletter</a>
          </small>
        </div>
      </div>
    {{ end }}

  </div>
</footer>
<script src="//platform.twitter.com/widgets.js" async></script>
{{ if false }}
  <script src="https://hypothes.is/embed.js" async></script>
{{ end }}
{{ template "_internal/google_analytics.html" . }}