<header class="header"> 
	<div class="container">
    <div class="row">
    	<div class="col-md-2 topnav text-right d-none d-md-block navbar-text"></div>
    	<div class="col-md-8 topnav">

			{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			{{ $.Scratch.Add "path" .Site.BaseURL }}
			{{ $path_parts := split $url "/" }}
		  {{ $path_length := (len $path_parts) }}
		  <a href="/" class="navbar-text">➰ Buster's Wiki</a>

		  {{ range $index, $element := $path_parts }}

		    {{ $.Scratch.Add "path" $element }}
		    {{ if ne $element "" }}
		      / 
					{{ if eq (add $index 2) $path_length }}
						{{ . }}
					{{ else }}
			    	<a class="navbar-text" href='{{ $.Scratch.Get "path" }}'>{{ . }}</a>
					{{ end }}
		      {{ $.Scratch.Add "path" "/" }}
		    {{ end }}
		  {{ end }}

	     </div>
     	<div class="col-md-2 topnav"></div>

    </div>
  </div>
</header>
