<footer>
  <div class="container">
    {{ if eq (.Param "disqus") true }}
      <div class="row mt-2 justify-content-center">
        <div class="col-md-8">
          {{ partial "divider" }}
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    {{ end }}

    {{ if eq (.Param "thoughts") true }}
      {{ $from_url := .URL }}
      {{ $from_page_title := .Title }}
      {{ $from_question := "Thoughts?" }} 

      {{ if ne .Params.thoughts_prompt "" }}
        {{ $from_question = .Params.thoughts_prompt }} 
      {{ end }}

      <div class="row mt-2 justify-content-center">
        {{ if and (ne .Params.thoughts_button nil) (ne .Params.thoughts_prompt "") }}
          <div class="col-md-4 text-center align-self-center"><h4 class="mt-0">{{ .Params.thoughts_prompt }}</h4></div>
        {{ end }}
        <div class="col-md-4 mt-1 text-center align-self-center">
          <a class="typeform-share button" href="https://buster.typeform.com/to/aW80Y3?from_url={{ $from_url }}&from_page_title={{ $from_page_title }}&from_question={{ $from_question }}" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#AB52FF;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:16px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">
            {{ if or (eq .Params.thoughts_button nil) (eq .Params.thoughts_button "") }}
              Thoughts? 
            {{ else }}
              {{ .Params.thoughts_button }}
            {{ end }}
          </a> 
          <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
      </div>
    {{ end }}

    {{ if ne (.Param "hide_footer_nav") true }}
      <div class="row my-10 justify-content-center">
        <div class="col-sm-4 text-center">
          <small class="text-secondary">
            <p>➰</p>
            <a href="/" class="text-secondary">Home</a> 
            {{ range (where .Site.Pages ".Params.show_on_homepage" "=" true).ByParam "homepage_order" }}
              • <a href="{{ .URL }}" class="text-secondary text-nowrap">{{ .Title }}</a>
            {{ end }}
            • <a href="http://eepurl.com/cxgjBT" class="text-secondary" target="_new">Subscribe</a>
          </small>
        </div>
      </div>
    {{ end }}



  </div>
</footer>
{{ template "_internal/google_analytics.html" . }}