{{ define "main" }}

<div class="container">
  
  <div class="row mt-2 justify-content-center">
    <div class="col-md-8">
      <h1 class="title">Hello!</h1>
    </div>
  </div>
  <div class="row justify-content-start">

		<div class="col-lg-4">
			<div class="p-0 m-1 boxed lift">
			  <img class="card-img-top" src="/images/rickshaw.jpg" alt="Buster Benson">
			  <div class="card-body">
			    <h5 class="card-title">👋 I'm Buster Benson</h5>
			    <p class="card-text">This is a living (and dying) record of my beliefs about what things are, how they interact with each other, and myriad ideas and projects that build on these beliefs.</p>
			  </div>	
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><a href="/nodes/tree-of-beliefs">My tree of beliefs</a></li>
			    <li class="list-group-item">Favorite ideas</li>
			  </ul>	  	
		    <div class="card-footer">
			    <a href="#" class="card-link">Read more</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="p-0 m-1 boxed lift">
			  <img class="card-img-top" src="/images/gum-theory.jpg" alt="Gum Theory">
			  <div class="card-body">
			    <h5 class="card-title">Projects & interests</h5>
				</div>	
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">750 Words</li>
			    <li class="list-group-item"><a href="/nodes/gum-theory">Gum Theory</a></li>
			  </ul>	  	
		    <div class="card-footer">
			    <a href="#" class="card-link">Read more</a>
			  </div>
			 </div>
		</div>

		<div class="col-lg-4">
			<div class="p-0 m-1 boxed lift">
			  <img class="card-img-top" src="/images/cognitive-bias-poster.jpg" alt="Cognitive bias cheat sheet">
			  <div class="card-body">
			    <h5 class="card-title">Book & writing</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>	
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">Cras justo odio</li>
			    <li class="list-group-item">Dapibus ac facilisis in</li>
			    <li class="list-group-item">Vestibulum at eros</li>
			  </ul>	  	
		    <div class="card-footer">
			    <a href="#" class="card-link">Read more</a>
			  </div>
			</div>	
		</div>


    </div>
  </div>

</div>

{{ end }}