{{ define "main" }}

<div class="container">
  
  <div class="row mt-2 justify-content-center">
    <div class="col-md-8">
      <h1 class="title">👋 Hello!</h1>
    </div>
  </div>
  <div class="row justify-content-start">

    {{ range (where .Site.Pages ".Params.show_on_homepage" "=" true).ByParam "homepage_order" }}
    	{{ partial "section-card" . }}
    {{ end }}

    {{ if false }}

		<div class="col-12 col-md-6 col-lg-4 mb-3">
			<div class="card lift">
			  <img class="card-img-top" src="/images/life-of-clodia/001.png" alt="Life of Clodia">
			  <div class="card-body">
			    <h3 class="card-title">Life of Clodia</h3>
			    <p class="card-text">An incomplete choose-your-own-adventure story about an adventurous asteroid.</p>
			    <a class="card-link" href="/nodes/life-of-clodia">Read more</a>
			  </div>
			 </div>
		</div>

		<div class="col-12 col-md-6 col-lg-4 mb-3">
			<div class="card lift">
			  <img class="card-img-top" src="/images/gum-theory.jpg" alt="Gum Theory">
			  <div class="card-body">
			    <h5 class="card-title">Gum Theory</h5>
			    <p class="card-text">A weird theory of everything for kids and busy people.</p>
			    <a class="card-link" href="/nodes/gum-theory">Read more</a>
			  </div>
			 </div>
		</div>

		{{ end }}

    </div>
  </div>

</div>

{{ end }}