{{ define "main" }}

<div class="container-fluid">
  <div class="row pt-lg-8 pt-10 justify-content-center">

    <div class="book-sidebar col-12 col-sm-4 col-lg-2 order-lg-1 order-2">
      {{ partial "book-sidebar" . }}
    </div>

    <div class="col-12 col-lg-7 px-lg-3 order-lg-2 order-1 homepage">
      <div class="mt-1 text-smaller"><strong><a href="/me">ABOUT</a></strong></div>
      {{ partial "title-and-content-basic" . }}     
			
			<div class="row">
		  	{{ range $pages := index .Site.Taxonomies.categories "year-in-review" }}
		  		{{ partial "simple-card" . }}
	  		{{ end }}
	  	</div>

    </div>

	  <div class="col-12 col-sm-8 col-lg-3 order-3">
      {{ partial "bio-sidebar" . }}
 	  </div>
  </div>

</div>
{{ end }}
